@media (max-width:1199.98px){
    .adrs-bar ul li a{
        font-size: 14px;
    }
    .banner-content h2{
        font-size: 40px;
    }
    .bnr-btn a {
        padding: 10px 25px;
    }
    .hero-img img{
        max-width: 200px;
    }
    .aboutRsec h3{
        font-size: 32px;
        margin-bottom: 14px;
    }
    .touch-btn a{
        padding: 10px 22px;
    }
}

@media (max-width:991.98px){
    .adrs-bar ul li a{
        font-size: 14px;
    }
    .adrs-bar ul li{
        margin: 0;
        padding: 0;
    }
    .adrs-bar ul {
        display: inline-block;
    }
}